html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#index {
    padding: 20px 20px 20px 20px;
    margin-bottom: 50px;
    border-width: thin;
    border-style: solid;
    border-radius: 15px;
    border-color: #c0c0c0;
    background-color: #f4f4f4;
}

#index-description {
    margin-bottom: 0;
}

.header {
    padding: 5px 20px 5px 20px;
    background-color: #24292e;
    font-size: 150%;
    margin-bottom: 50px;
}

.header a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.header a:hover {
    color: #a0a0a0;
}

a.brand {
    font-size: 150%;
}

.audio-links {
    font-size: 150%;
}

audio {
    width: 100%;
}

footer {
    background-color: #24292e;
    padding: 10px 20px 0px 20px;
    flex-shrink: 0;
    color: white;
}

footer a {
    text-decoration: none;
}

footer .link {
    margin-left: 10px;
}

footer a:hover {
    text-decoration: underline;
}

article {
    margin: 10px 0 10px 0;
    padding: 10px 0 0 0;
    border-bottom: 2px solid black;
}

.with-border-top {
    border-top: 2px solid black;
    padding-top: 20px;
    margin-bottom: 20px;
}
