{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="column">
            <h1>{{ .Title }}</h1>
            <div class="audio-links">
                {{ partial "audio.html" . }}
            </div>
            {{ .Content }}
        </div>
    </div>

    {{ if or (eq .Params.enable_commento true) (eq $.Site.Params.enable_commento true) }}
    <div class="row with-border-top">
        <div class="column">
           {{ partial "commento.html" . }}
        </div>
    </div>
    {{ end }}
</div>

{{ end }}
