{{- define "main" -}}
    <div class="row">
        <div class="col-sm">
            <h1>{{- .Title -}}</h1>
            <p>{{- partial "post-meta.html" . -}}</p>
            <p>
                {{- partial "tags.html" . -}}
            </p>
            {{- partial "audio.html" . -}}
            <div class="row">
                <div class="col">
                    {{- .Content -}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            {{- partial "related-content.html" . -}}
        </div>
    </div>

    {{- if .Param "enable_commento" -}}
    <div class="row">
        <div class="col-sm">
            {{- partial "commento.html" . -}}
        </div>
    </div>
    {{- end -}}
{{- end -}}
