<div>
{{ $haslink := false }}
{{ range $.Site.Params.audio_links }}
    {{ if $.Param .param_name }}
        {{ if .type }}
            {{ $haslink = true }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if $haslink }}
<audio controls>
    {{ range $.Site.Params.audio_links }}
        {{ $audioFile := $.Param .param_name }}
        {{ if $audioFile }}
            {{ if .type }}
                <source src="{{ $audioFile }}" type="{{ .type }}">
            {{ end }}
        {{ end }}
    {{ end }}
</audio>
{{ end }}
</div>

<span>Downloads:</span>
<ul>
    {{ range $.Site.Params.audio_links }}
        {{ $audioFile := $.Param .param_name }}
        {{ if $audioFile }}
        <li><a href={{ $audioFile }} download><i class="fas fa-download">{{ .label }}</i></a></li>
        {{ end }}
    {{ end }}
</ul>
