{{ $haslink := false }}
{{ range $.Site.Params.audio_links }}
    {{ if $.Param .param_name }}
        {{ if .type }}
            {{ $haslink = true }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if $haslink }}
<h4><i class="fas fa-podcast"></i> Listen to audio</h4>
<audio class="w-100" controls>
    {{ range $.Site.Params.audio_links }}
        {{ $audioFile := $.Param .param_name }}
        {{ if $audioFile }}
            {{ if .type }}
                <source src="{{ $audioFile }}" type="{{ .type }}">
            {{ end }}
        {{ end }}
    {{ end }}
</audio>
{{ end }}
