<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    {{- with $.Site.Params.brand_image -}}
    <img src="{{ . }}" />
    {{- else -}}
    {{ $.Site.Title }}
    {{- end -}}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{- with  $.Site.Home.OutputFormats.Get "RSS" -}}
            <li class="nav-item">
                <a class="nav-link" href="{{ .Permalink | relURL }}" download>
                    <i class="fas fa-rss-square"></i>
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{- end -}}

            {{- with $.Site.Params.patreon -}}
            <li>
                <a class="nav-link" href="{{ . }}">
                    <i class="fab fa-patreon"></i>
                    <span>Patreon</span>
                </a>
            </li>
            {{- end -}}

            {{- with $.Site.Params.stitcher -}}
            <li>
                <a class="nav-link" href="{{ . }}">
                    <span>Stitcher</span>
                </a>
            </li>
            {{- end -}}

            {{- with $.Site.Params.soundcloud -}}
            <li>
                <a class="nav-link" href="{{ . }}">
                    <i class="fab fa-soundcloud"></i>
                    <span>Soundcloud</span>
                </a>
            </li>
            {{- end -}}

            {{- with $.Site.Params.youtube -}}
            <li>
                <a class="nav-link" href="{{ . }}">
                    <i class="fab fa-youtube"></i>
                    <span>YouTube</span>
                </a>
            </li>
            {{- end -}}
        </ul>
    </div>
</nav>




