<a class="brand" href="/">
    {{ with $.Site.Params.brand_image }}
    <img src="{{ . }}" />
    {{ end }}
    <span>{{ .Site.Title }}</span>
</a>

{{ with  $.Site.Home.OutputFormats.Get "RSS" -}}
<a href="{{ .Permalink }}">{{ .Name }}</a>
{{- end }}

{{ with .Site.Params.patreon }}
    <a href="{{ . }}">Patreon</a>
{{ end }}

{{ with .Site.Params.stitcher }}
    <a href="{{ . }}">Stitcher</a>
{{ end }}

{{ with .Site.Params.soundcloud }}
    <a href="{{ . }}">Soundcloud</a>
{{ end }}

{{ with .Site.Params.youtube }}
    <a href="{{ . }}">YouTube</a>
{{ end }}
