<a class="brand" href="/">
    {{ with $.Site.Params.brand_image }}
    <img src="{{ . }}" />
    {{ end }}
    <span>{{ .Site.Title }}</span>
</a>

{{ with  $.Site.Home.OutputFormats.Get "RSS" -}}
<a href="{{ .Permalink }}"><i class="fas fa-rss-square"></i>{{ .Name }}</a>
{{- end }}

{{ with .Site.Params.patreon }}
<a href="{{ . }}"><i class="fab fa-patreon"></i>Patreon</a>
{{ end }}

{{ with .Site.Params.stitcher }}
<a href="{{ . }}">Stitcher</a>
{{ end }}

{{ with .Site.Params.soundcloud }}
<a href="{{ . }}"><i class="fab fa-soundcloud"></i>Soundcloud</a>
{{ end }}

{{ with .Site.Params.youtube }}
<a href="{{ . }}"><i class="fab fa-youtube"></i>YouTube</a>
{{ end }}
